$color-text-dark: #21252c;
$color-text-light: #ecf0f1;
$color-text-bright: #fff;
$color-primary: #3498db;
$color-secondary: #218c74;
$color-background: #21252c;
$color-background-light: #ecf0f1;
$color-background-bright: #fff;
$color-background-dark: #000;

$color-success: #01916d;
$color-success-back: #00bc8c;
$color-info: #2b7cb3;
$color-info-back: #3598db;
$color-warning: #f0932b;
$color-warning-back: #d68529;
$color-danger: #f0932b;
$color-danger-back: #d68529;
$color-error: #EA2027;
$color-error-back: #ff5d6c;

$color-textfield-border: #ddd;
$color-editor-border: #ccc;
$color-editor-border-light: #ddd;

$font-logo: 'Dancing Script', cursive;
$font-header: 'Lato', sans-serif;
$font-text: 'Lato', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

$shadow-light: 0px 0px 7px 0px $color-background-bright;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}

/* rwd breakpoints */
$mobile-breakpoint: 575px;
$tablet-breakpoint: 787px;
$desktop-breakpoint: 991px;