@import '../../../styles/settings.scss';

.root {
  background-color: $color-background-bright;
  color: $color-text-dark;
  padding: 5px 20px;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .logo {
      justify-self: center;
    }

    .cart {
      justify-self: right;
      font-size: 1.5rem;
    }

    a:hover {
      color: darken($color-text-dark, 20);
    }

    .links a {
      padding: 15px;
      font-size: 1rem;

      &:hover {
        border-bottom: 2px solid $color-text-dark;
      }
    }
  }
}

/* MEDIA */

@media(max-width: $tablet-breakpoint) {
  .root {
    .links {
      display: none;
    }

    nav {
      grid-template-columns: 4fr 1fr;

      .logo {
        justify-self: left;
      }
    }
  }
}